
*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: #121212;
    color: white;
    position: fixed;
    height: 30px;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}
.li{  
    display: flex;
    gap:25px;
    justify-content: flex-end;
    text-decoration: none;
    color: azure;
   
}
.new-page{
    text-decoration: none;
    color: azure;
}
.content-cata{
    display: flex;
    height: 10%;
    gap:25px;
    margin: 1px 80px;/**/
}
.encabezado{
  color:white;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
/* imagenges y efectos del producto1*/
.phones{
  background: #F6F6F6;
  margin-top: 25px;
  height: 31rem;
  width: 91%;/**/
}
.produto-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:45%;/**/
    margin-left: 2%;
}
.phone{
    display: flex;
    justify-content:flex-start;
    height:10rem;
    width: relative;
    margin-left: 20px;
}
.phone-clone1{
  height:15rem;
  width: relative;
  margin-left: -190px;
  margin-top: 118px
}
.phone-clone2{
  height:15rem;
  width: relative;
  margin-left: -190px;
  margin-top: -40px;

}
.phone-clone3{
  height:15rem;
  width: relative;
  margin-top: -200px;
}
.telefonos-aparecer{
    border:none;
    cursor: pointer; 
}
.contenedor-imagen {
    display: flex;
    position: relative;
    justify-content: flex-start;
    gap:28px
}
.imagen-original,
.imagen-duplicada {
    cursor: pointer;
    transition: transform 0.3s ease;  
    opacity: 0.5; 
    filter: blur(1px);
}
.imagen-duplicada {
    position: absolute;
    top: 0;
    opacity: 0;
    margin-left: 150px;
}
.contenedor-imagen:hover .imagen-original {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
}
.contenedor-imagen:hover .imagen-duplicada {
    opacity: 1;
    left: calc(100% + 10px); /* Ajusta la distancia entre las imágenes según tus preferencias */
    transform: scale(2);
    filter: blur(0px);
    width: auto;
   
   
}
  /* Estilos para el checkbox (oculto) */

input[type="checkbox"] {
    display: none;
}
.caracteristicas-phone{
  display: flex;
  flex-direction:column;
  align-content: flex-start;
  margin-left: 0;
}
.contorno{
  border: #121212 1px solid;
  border-radius: 7px;
  height: 100px;
}
/* caracterisitacas del productos 1 */ 

.detalles-productos{
  width: 35%;
}
.titulo-phone1{
  margin-top: 25px;
  font-size: 40px;
}

.fa-star{
  margin-top: 0;
  font-size: 22px;
}
.fa-star:hover{
  transition-duration: 1s;
  transform: scale(1.3);
}
.fa-star{
  transition-duration: 1s;
  transform: scale(1);
}
.texto-Producto1{
  font-size: 20px;
}
.precio{
  font-size: 24px;
}

.ordenar{
  font-size: 20px;
  background-color: green;
  cursor: pointer;
  border-radius: 10%;
}

.detalles-celular{
  display: flex;
  justify-content: center;
  width: auto;
  height: 50%;
  margin: 50px 20px  auto; ;
  
}



