
*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: #121212;
    color: white;
    position: fixed;
    height: 30px;
    width: 100%;
    align-items: center;
}

.navbar-menu{
    background-color: #002a3a;
    overflow: hidden;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}

.navbar-menu a{
    float: left;
    display: flex;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font: 16px;
    height: 100%;
    width: 25%;
}

.navbar-menu a:hover {
    background-color: #00a3e0;
}

.navbar-menu .icon {
    display: none;
}




.li{  
    display: flex;
    gap:25px;
    justify-content: flex-end;
    text-decoration: none;
    color: azure;
}
.new-page{
    text-decoration: none;
    color: azure;
}
.principal{/* parte superior de la pagina  logo y nombre */ 
    display: flex;
    justify-content: space-between;
    align-content:flex-end;
    background:#000000;
    height: 100px; 
}
.negociot{
    color:aliceblue
}
.content{
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.logo{
    width: 5%;
    height: auto;
    margin-top: 60px;
    background:bisque;
}
.menu{ /*  parte centrar opciones cpon redirecciones */ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    height: 250px;
    background:#000000;
}
.menus{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background:#000000;
    color:aliceblue;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 2%;
    margin-right: 2%;
}
.menu-titulo{
    font-size: 50px;
    color:aliceblue;
}
.menu-titulo  .menu-texto{
    text-align: center;
    font-size: 40px;
    margin-left: 25px;
}
.producto{ /* parte donde se muestran productos*/ 
    display: block;
    margin: auto;
    justify-content: center;
    margin-top: 1%;
    background:#FAFAFA;
    

}
.productos{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 240px;
    margin:10px;
}


.imgini{
    height: 100%;
    width: 100%;
    filter:blur(1px);
    object-fit: scale-down;
    box-shadow: -1px -1px 4px 4px rgba(227,227,227,1);
    -webkit-box-shadow: -1px -1px 4px 4px rgba(227,227,227,1);
    -moz-box-shadow: -1px -1px 4px 4px rgba(227,227,227,1);
  
}
.imgini:hover{
    transition-duration: 1;
    transform: scale(1.1);
    filter:blur(0px)
}
.imgini{
    background-color:#e5e5e5;
    transition-duration: 1;
    transform: scale(1); 
}
.ver-mas{
    text-decoration: none;
    color:   #000000;
    font-size: 30px;
    background: rgb(99, 94, 94);
    border:solid #000000
}
#contact{/* parte dodne se agrga la informcion de la empresa*/ 
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1%;
    background: #121212;
    color:white;
    height: 300px;
    width: 100vw;
}

.contact-1{
    align-items: center;
}
.texto-contact{
    font-size: 20px;
}
.texto-contact-redes{
    font-size: 15px;
}
/* PAGINA 2 */
/*producto 1 */
.telefonos-titulo{
    margin-top: 30px;
}


/* For mobile devices */
/* For mobile devices */
@media (max-width: 480px) {

    .navbar-menu a {display: none;}
    .navbar-menu .icon {
        float: right;
        display: block;
    }

    .producto{
        display: inline-block;
    }
    .productos{
        display: list-item;
    }

    .productos a{
        display: block;
        margin: 2%;
    }

    .productos a .imgini {
        max-width: 100%;
    }

}


/* tablets */
@media (min-width: 601) and (max-widht: 767px){
    .navbar-menu a {display: none;}
    .navbar-menu .icon {
        float: right;
        display: block;
    }

    .producto{
        display: inline-block;
    }
    .productos{
        display: list-item;
    }

    .productos a{
        display: block;
        margin: 2%;
    }

    .productos a .imgini {
        max-width: 100%;
    }

}