
*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: #121212;
    color: white;
    position: fixed;
    height: 30px;
    width: 100%;
    opacity: 0.5;
}
.li{  
    display: flex;
    gap:25px;
    justify-content: flex-end;
    text-decoration: none;
    color: azure;
}
.new-page{
    text-decoration: none;
    color: azure;
}
.content-cata{
    display: flex;
    height: 10%;
    gap:25px;
    margin:none;
}
.phones{
background: #F6F6F6;
margin-top: 25px;
}
.produto-phone{
    display: flex;
    flex-direction: column;
    width:50%
}
.phone{
    display: flex;
    justify-content:flex-start;
    height:15rem;
    width: relative;
    margin-left: 20px;
}
.phone-clone{
  height:10rem;
  width: relative;
  margin: -150px;
  margin-top: -150px;

}
.phone-clone3{
  height:10rem;
  width: relative;
  margin-top: -3px;
  
}
.telefonos-aparecer{
    border:none;
    cursor: pointer; 
}
.contenedor-imagen {
    display: flex;
    position: relative;
    justify-content: flex-start;
    gap:28px
  }
.imagen-original{
  }
.imagen-original,
.imagen-duplicada {
    cursor: pointer;
    transition: transform 0.3s ease;   
  }
  .imagen-duplicada {
    position: absolute;
    top: 0;
    opacity: 0;
    margin-left: 150px;  
     
  }
  .contenedor-imagen:hover .imagen-original {
    transform: scale(1);
  }
  .contenedor-imagen:hover .imagen-duplicada {
    opacity: 1;
    left: calc(100% + 10px); /* Ajusta la distancia entre las imágenes según tus preferencias */
    transform: scale(2);
  }
  /* Estilos para el checkbox (oculto) */
input[type="checkbox"] {
    display: none;
  }
.caracteristicas-phone{
  display: flex;
  flex-direction:column;
  align-content: flex-start;
  margin-left: 0;
}
